.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    transition: 0.3s;
    }
    
    .myModalContent {
    padding: 25px;
    background: white;
    border-radius: 5px;
    min-width: 50%;
    border: solid 2px green;
    transition: 0.3s;
    }
    
    .myModal.active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 20;
    }

    .button:hover{
        border: none;
        height: 40px;
        width: 100px;
        background-color: rgb(33, 240, 33);
        color: white;
        font-size: 18px;
        border-radius: 5px;
    }
    
    .button{
        border: none;
        height: 40px;
        width: 100px;
        background-color: white;
        border: solid 1px rgb(33, 240, 33);
        color: rgb(33, 240, 33);
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
    }

    .button:active{
        box-shadow: 1px 1px 5px 1px rgb(33, 240, 33);
    }